USE [master]
GO
/****** Object:  Database [ShortUrlDb]    Script Date: 9/5/2019 8:22:04 PM ******/
CREATE DATABASE [ShortUrlDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShortUrlDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ShortUrlDb.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ShortUrlDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ShortUrlDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShortUrlDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShortUrlDb]
GO
/****** Object:  Table [dbo].[Tbl_UrlInfo]    Script Date: 9/5/2019 8:22:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_UrlInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClientIPAddress] [varchar](50) NOT NULL,
	[ShortUrlCode] [int] NOT NULL,
	[UrlAddress] [varchar](max) NOT NULL,
	[ViewCount] [int] NOT NULL,
 CONSTRAINT [PK_Tbl_UrlInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IX_ShortUrlCode]    Script Date: 9/5/2019 8:22:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_ShortUrlCode] ON [dbo].[Tbl_UrlInfo]
(
	[ShortUrlCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
